*.class

# Package Files #
*.jar
*.war
*.ear
build\*
/ProjectShop/nbproject
/ProjectShop/dist
/ProjectShop/dist/ProjectShop.ear
/ProjectShop/ProjectShop-war/nbproject/private
/ProjectShop/ProjectShop-war/nbproject/project.properties

/ProjectShop/ProjectShop-war/nbproject