<?xml version="1.0" encoding="UTF-8"?>
<web-app version="2.4" xmlns="http://java.sun.com/xml/ns/j2ee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/j2ee http://java.sun.com/xml/ns/j2ee/web-app_2_4.xsd">
    <servlet>
        <servlet-name>ExecServlet</servlet-name>
        <servlet-class>servlets.ExecServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ImageServlet</servlet-name>
        <servlet-class>servlets.ImageServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>XMLServlet</servlet-name>
        <servlet-class>servlets.XMLServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ExecServlet</servlet-name>
        <url-pattern>/reloadCatalog</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ExecServlet</servlet-name>
        <url-pattern>/registration</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ExecServlet</servlet-name>
        <url-pattern>/selectByNik</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ExecServlet</servlet-name>
        <url-pattern>/changeAmount</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ExecServlet</servlet-name>
        <url-pattern>/find</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ExecServlet</servlet-name>
        <url-pattern>/updateUser</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ExecServlet</servlet-name>
        <url-pattern>/delComment</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ExecServlet</servlet-name>
        <url-pattern>/addComment</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ExecServlet</servlet-name>
        <url-pattern>/getUsersByRole</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ExecServlet</servlet-name>
        <url-pattern>/deleteUser</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ExecServlet</servlet-name>
        <url-pattern>/getFullUserList</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ExecServlet</servlet-name>
        <url-pattern>/updateProfil</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ExecServlet</servlet-name>
        <url-pattern>/getFullRoleList</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ExecServlet</servlet-name>
        <url-pattern>/login</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ExecServlet</servlet-name>
        <url-pattern>/getOpinionByProduct</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ExecServlet</servlet-name>
        <url-pattern>/addProduct</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ExecServlet</servlet-name>
        <url-pattern>/getFullProductList</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ExecServlet</servlet-name>
        <url-pattern>/product</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ExecServlet</servlet-name>
        <url-pattern>/catalog</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ExecServlet</servlet-name>
        <url-pattern>/add_catalog</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ExecServlet</servlet-name>
        <url-pattern>/logout</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ExecServlet</servlet-name>
        <url-pattern>/del_catalog</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ExecServlet</servlet-name>
        <url-pattern>/getFull_catalog</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ExecServlet</servlet-name>
        <url-pattern>/getFull_catalogNew</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ExecServlet</servlet-name>
        <url-pattern>/getProductsByCatalog</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ExecServlet</servlet-name>
        <url-pattern>/getChild_catalog</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ExecServlet</servlet-name>
        <url-pattern>/order</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ExecServlet</servlet-name>
        <url-pattern>/blockUsers</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ExecServlet</servlet-name>
        <url-pattern>/basket</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ExecServlet</servlet-name>
        <url-pattern>/updateStatusOrder</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ExecServlet</servlet-name>
        <url-pattern>/updateProduct</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ExecServlet</servlet-name>
        <url-pattern>/selectProduct</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ExecServlet</servlet-name>
        <url-pattern>/updateCatalog</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ExecServlet</servlet-name>
        <url-pattern>/selectCatalog</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ExecServlet</servlet-name>
        <url-pattern>/getOrders</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ExecServlet</servlet-name>
        <url-pattern>/deleteOrder</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ImageServlet</servlet-name>
        <url-pattern>/Image.jpeg</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ImageServlet</servlet-name>
        <url-pattern>/add_image</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>XMLServlet</servlet-name>
        <url-pattern>/XML/Products.xml</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>XMLServlet</servlet-name>
        <url-pattern>/XML/exportUser</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>XMLServlet</servlet-name>
        <url-pattern>/XML/ExportProductByPrice</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>XMLServlet</servlet-name>
        <url-pattern>/XML/ExportProductByName</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>XMLServlet</servlet-name>
        <url-pattern>/XML/exportUsersP</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>XMLServlet</servlet-name>
        <url-pattern>/XML/import</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>XMLServlet</servlet-name>
        <url-pattern>/XML/history</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ExecServlet</servlet-name>
        <url-pattern>/delProduct</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ExecServlet</servlet-name>
        <url-pattern>/updateOrderStatus</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>XMLServlet</servlet-name>
        <url-pattern>/XML/getFile</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ImageServlet</servlet-name>
        <url-pattern>/ImageServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ExecServlet</servlet-name>
        <url-pattern>/image</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ExecServlet</servlet-name>
        <url-pattern>/addImage</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ExecServlet</servlet-name>
        <url-pattern>/delImage</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ExecServlet</servlet-name>
        <url-pattern>/image.jpg</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>XMLServlet</servlet-name>
        <url-pattern>/XML/managedImport</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
    <welcome-file-list>
        <welcome-file>index.jsp</welcome-file>
    </welcome-file-list>
</web-app>
