<?xml version="1.0" encoding="UTF-8"?>
<web-app version="2.4" xmlns="http://java.sun.com/xml/ns/j2ee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/j2ee http://java.sun.com/xml/ns/j2ee/web-app_2_4.xsd">
    <servlet>
        <servlet-name>ExecServlet</servlet-name>
        <servlet-class>servlets.ExecServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ZHServlet</servlet-name>
        <servlet-class>servlets.ZHServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ExecServlet</servlet-name>
        <url-pattern>/registration</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ExecServlet</servlet-name>
        <url-pattern>/selectByNik</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ExecServlet</servlet-name>
        <url-pattern>/updateUser</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ZHServlet</servlet-name>
        <url-pattern>/ZHServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ZHServlet</servlet-name>
        <url-pattern>/delComment</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ZHServlet</servlet-name>
        <url-pattern>/addComment</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ZHServlet</servlet-name>
        <url-pattern>/superSelect</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ZHServlet</servlet-name>
        <url-pattern>/delImage</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ZHServlet</servlet-name>
        <url-pattern>/addImage</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ExecServlet</servlet-name>
        <url-pattern>/getUsersByRole</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ExecServlet</servlet-name>
        <url-pattern>/deleteUser</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ExecServlet</servlet-name>
        <url-pattern>/getFullUserList</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ExecServlet</servlet-name>
        <url-pattern>/getFullRoleList</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ExecServlet</servlet-name>
        <url-pattern>/login</url-pattern>
    </servlet-mapping>
</web-app>
