body {
	margin:0;
	padding:0;
	background-color:#FFF;
	font-size: 14px;
	background:transparent url(1223.jpg)  repeat;
}
#container{
margin: 0 auto 40px auto;
padding: 7px 10px 20px 10px;
position: relative;
width: 1250px;
background-color: white;
min-height:550px;
}
#cols{
overflow: hidden;
min-height: 400px;
}
#header 
{
	margin-bottom:10px;
	
}

#header div.logo{
	float:left;
	width: 182px;
}
#header div.login{
	width: 150px;

	
}
#header div.team{
        min-height: 115px;
        height: auto;
		width: 60px;
        font-size: 11px;
		
}
#header table.top_nav {
margin: 0 10px 5px 10px;
width: 1230px;
border-collapse: collapse;
color: #000;
}
#header table.top_nav td.logo img{
padding-right: 5px;
}
#header table.top_nav td.logo {
width: 287px;
}
#header table.top_nav td.user_nav {
vertical-align: top;
width: 201px;
font-size: 13px;
}
#header table.top_nav td.user_nav ul  {
list-style: none;
 padding: 0;
 margin: 0;
}
#header table.top_nav td.user_nav ul li.first {
	padding: 3px 3px;
	 display: block;
	  float: left;
	border-style: solid;
	border-width: 1px 1px 1px 1px;
	border-color: #FFFFFF #D9D9D9 #FFFFFF #FFFFFF;
	background-color:#FFFFFF;
}
#header table.top_nav td.current_user {
vertical-align: top;
width: 401px;

font-size: 13px;
}
#header table.top_nav td.current_user ul  {
list-style: none;
 padding: 0;
 margin: 0;
}
#header table.top_nav td.current_user ul  a {
text-decoration:none;
}


#header  {
}
#header table.top_nav td.team {
vertical-align: top;
width: 192px;
font-size: 13px;
}
#background_image{
background-image: url(background.jpg);
width: 2158px;
height:1349px;
}
* {
margin: 0;
padding: 0;
font-family: Tahoma, Arial, sans-serif;
}
td, th {
display: table-cell;
vertical-align: inherit;
}
div {
display: block;
}
#content{
width: 1010px;
border: 1px solid #D9D9D9;
float: right;
margin-top: 0px;
margin-right: 0px;
margin-bottom: 20px;
margin-left: 0px;
padding-top:10px;
padding-bottom:100px; 
padding-left:20px;
padding-right:10px;
font-size: 16px;

}
a {
	text-decoration:none;
	color:#0b02b5
}
.Button{
	background-color:#3bb3e0;
	padding:4px;

	font-family: 'Open Sans', sans-serif;
	font-size:14px;
	text-decoration:none;
	color:#fff;
	border: solid 1px #186f8f;
	background-image: linear-gradient(bottom, rgb(44,160,202) 0%, rgb(62,184,229) 100%);
	background-image: -o-linear-gradient(bottom, rgb(44,160,202) 0%, rgb(62,184,229) 100%);
	background-image: -moz-linear-gradient(bottom, rgb(44,160,202) 0%, rgb(62,184,229) 100%);
	background-image: -webkit-linear-gradient(bottom, rgb(44,160,202) 0%, rgb(62,184,229) 100%);
	background-image: -ms-linear-gradient(bottom, rgb(44,160,202) 0%, rgb(62,184,229) 100%);
	background-image: -webkit-gradient(
	linear,
	left bottom,
	left top,
	color-stop(0, rgb(44,160,202)),
	color-stop(1, rgb(62,184,229))
	);
	-webkit-box-shadow: inset 0px 1px 0px #7fd2f1, 0px 1px 0px #fff;
	-moz-box-shadow: inset 0px 1px 0px #7fd2f1, 0px 1px 0px #fff;
	box-shadow: inset 0px 1px 0px #7fd2f1, 0px 1px 0px #fff;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	-o-border-radius: 5px;
	border-radius: 5px;
	vertical-align: top;
	text-decoration: none;
	display: inline-block;
	font-weight: bold;
	cursor: pointer;
}
.Button:active{

	background-image: linear-gradient(bottom, rgb(62,184,229) 0%, rgb(44,160,202) 100%);
	background-image: -o-linear-gradient(bottom, rgb(62,184,229) 0%, rgb(44,160,202) 100%);
	background-image: -moz-linear-gradient(bottom, rgb(62,184,229) 0%, rgb(44,160,202) 100%);
	background-image: -webkit-linear-gradient(bottom, rgb(62,184,229) 0%, rgb(44,160,202) 100%);
	background-image: -ms-linear-gradient(bottom, rgb(62,184,229) 0%, rgb(44,160,202) 100%);
	background-image: -webkit-gradient(
	linear,
	left bottom,
	left top,
	color-stop(0, rgb(62,184,229)),
	color-stop(1, rgb(44,160,202))
	);
}
.Button .updateOrder{
width:100px;
height:25px;
}
h1{
margin: 0 0 13px 0;
font-size: 22px;
font-weight: normal;
color: #386526;
}
#cols{

}
td{
padding: 8px 0px 3px 3px;
}
#regOrLog{
color:#86908d;
}
input{
font-size: 17px;
padding:2px;
}
select{
font-size: 17px;
}
#initialCatalog{
	background-image: linear-gradient(bottom, rgb(44,160,202) 0%, rgb(62,184,229) 100%);
	background-image: -o-linear-gradient(bottom, rgb(44,160,202) 0%, rgb(62,184,229) 100%);
	background-image: -moz-linear-gradient(bottom, rgb(44,160,202) 0%, rgb(62,184,229) 100%);
	background-image: -webkit-linear-gradient(bottom, rgb(44,160,202) 0%, rgb(62,184,229) 100%);
	background-image: -ms-linear-gradient(bottom, rgb(44,160,202) 0%, rgb(62,184,229) 100%);
	background-image: -webkit-gradient(
	linear,
	left bottom,
	left top,
	color-stop(0, rgb(44,160,202)),
	color-stop(1, rgb(62,184,229))
	);
	border: solid 1px #186f8f;
	font-weight:bold;
	border-radius: 7px 7px 0px 0px;
	color: #FFFFFF;
}
#ss{
}