#menu{
margin-top: 0px;
margin-right: 5px;
margin-bottom: 20px;
margin-left: 0px;
width:197px;
float: left;
}
#menu div.catalog{
margin-top: 0px;
margin-right: 0px;
margin-bottom: 20px;
margin-left: 0px;
width:197px;
}
#menu  div.user_menu{
width:197px;
vertical-align: middle;
}

#menu  div.user_menu ul{
	list-style: none;
	margin: 0;
	padding: 0;
    width:197px;
}
#menu  div.user_menu ul li{
	color: #777;
	background: #fff;
	padding: 5px;
	height:40px;
	 border-bottom:1px solid #ccc;
	vertical-align: center;
	position: relative;
	
}
#menu  div.user_menu ul li a{
	display: block;
	text-decoration: none;
	color: #777;
	background: #fff;
	vertical-align: center;
}
#menu  div.user_menu ul li span{
	display: block;
	text-decoration: none;
	color: #777;
	background: #fff;
	
}
#menu  div.user_menu  li ul{
	position: absolute;
	left: 200px;
	top: 0;
	width:300px;
	display: none;
}

#menu  div.user_menu ul li.first{
	list-style: none;
	font-weight: bold;
	color:#000000;
	
	border-style: solid;
	border-width: 1px 1px 1px 1px;
	border-color: #D9D9D9 #FFFFFF #D9D9D9 #FFFFFF;
	background-color:#FFFFFF;


}
#menu  div.user_menu	li:hover ul { display: block; }
