
.Button{
vertical-align: top;
text-decoration: none;
color: #FFFFFF;
border: 1px solid #CCC;
display: inline-block;

height:26px;
background: #117df8;
background: -moz-linear-gradient(-90deg, white, #117df8);
background: -webkit-gradient(linear, left top, left bottom, color-stop(0, white), color-stop(1, #117df8));
font-size: 15px;
font-weight: bold;
cursor: pointer;
border-color: #c4dffd;
border-radius: 7px;
background:  repeat-x scroll -2px -2px #117df8;
background: -moz-linear-gradient(-90deg, #c4dffd, #117df8);
background: -webkit-gradient(linear, left top, left bottom, color-stop(0, #c4dffd), color-stop(1, #117df8));

}
